{% extends 'base.html.twig' %} 
{% block title %}Ingrédient | Recipes{% endblock %} 

{% block body %} 

    <h1 class="h3 mt-5">Liste des ingrédients</h1>

    <h5>
        <div class="count">
            Il y a <span class="badge bg-primary">{{ ingredients.getTotalItemCount }}</span> ingrédients dans la liste.
        </div>
    </h5>
    
    <a href="{{path('app_ingredient_new')}}" class="btn btn-primary mt-4">Ajouter un ingrédient</a>

    <div class="jumbotron mt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Date de création</th>
                </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}
                <tr class="">
                    <td>{{ingredient.id}}</td>
                    <td>{{ingredient.name}}</td>
                    <td>{{ingredient.price | format_currency('EUR ', {rounding_mode: 'floor'}) }} </td>
                    <td>{{ingredient.createdAt | date('m-d-Y') }}</td>
                    <td><a href="{{path('app_ingredient_edit', {'id': ingredient.id})}}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a> | <a href="{{path('app_ingredient_delete', {'id': ingredient.id})}}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
         <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(ingredients) }}
        </div>
    </div>
   
{% endblock %}